<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245734678956-72t3llkcchbo5lj2379nu5g2v854o3i2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245734678956-72t3llkcchbo5lj2379nu5g2v854o3i2</string>
	<key>API_KEY</key>
	<string>AIzaSyBVZedhSu0KZMMvyx3BS4flErGYnl9SFwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>245734678956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ssamko.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-8aa2f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-8aa2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245734678956:ios:bc75ee84ee8dfd0e7a9a09</string>
</dict>
</plist>